
body {
	font-family: helvetica;
}


#game1 {
	margin: auto;
	width: 900px;
	margin-top: 100px;
}

.boxWrapper {
	
}

.row {
	display: flex; 
}


.emptyCell {
	border: red;
}



.cell {
	position: relative;
	height: 50px;
	width: 50px; 
	padding: 5px;
	background: white; 
	margin: 5px;
	border: 1px solid black; 
	text-align: center;
	cursor: default;
	-webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
}

.sensorCell {
	background: #FFB8B8;
}

.emptyCell {
	background: #73B9FF;
}


.cell:hover {
	background-color: green;
	cursor: pointer;

} 

[data-sensor]:after {
	position: absolute;
	color: red;
	content: attr(data-sensor);
	bottom: 0px;
	right: 4px;
}

[data-group]:after {
	position: absolute;
	color: blue;
	content: attr(data-group);
	bottom: 0px;
	left: 4px;
	font-weight: bold;
	
}






